.experience {
  margin-top: 30vh;
  padding-top: 10vh;
}

.individual-experiences-container {
  position: relative;
  height: max-content;
}

.experience nav.experience-navigation {
  max-width: 100%;

  display: flex;
  overflow: auto;

  button {
    padding: 1rem 2rem;

    font-size: var(--t-500);
    color: hsla(var(--major-text-color), 70%);
    background: none;
    border: none;
    border-bottom: 2px solid hsla(var(--light-text-color), 20%);

    cursor: pointer;
    transition: var(--standard-transition);
    white-space: nowrap;

    &:hover,
    &:focus-within {
      color: hsl(var(--color-secondary));
      background-color: hsl(var(--color-primary-light));
    }

    &.active {
      border-bottom-color: hsl(var(--color-secondary));
    }
  }
}
