.projects {
  margin-top: 30vh;
  padding-top: 10vh;

  .project-links {
    display: flex;
    gap: 0.8rem;

    list-style: none;

    a {
      &:hover,
      &:focus-within {
        color: hsl(var(--color-secondary));
      }
    }

    .project-icon {
      color: hsl(var(--major-text-color));
      width: var(--t-600);
    }
  }
}
