@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --t-100: 0.375rem;
  --t-200: 0.5rem;
  --t-300: 0.625rem;
  --t-400: 0.75rem;
  --t-500: 0.875rem;
  --t-600: 1rem;
  --t-700: 1.125rem;
  --t-800: 1.25rem;
  --t-900: 1.5rem;
  --t-1000: 1.75rem;
  --t-1100: 2rem;
  --t-1200: 2.5rem;
  --t-1300: 2.75rem;
  --t-1400: 3rem;

  @media (width >= 768px) {
    --t-100: 0.5rem;
    --t-200: 0.625rem;
    --t-300: 0.75rem;
    --t-400: 0.875rem;
    --t-500: 1rem;
    --t-600: 1.125rem;
    --t-700: 1.25rem;
    --t-800: 1.5rem;
    --t-900: 1.75rem;
    --t-1000: 2rem;
    --t-1100: 2.5rem;
    --t-1200: 2.75rem;
    --t-1300: 3rem;
    --t-1400: 3.5rem;
  }

  @media (width >= 1000px) {
    --t-100: 0.625rem;
    --t-200: 0.75rem;
    --t-300: 0.875rem;
    --t-400: 1rem;
    --t-500: 1.125rem;
    --t-600: 1.25rem;
    --t-700: 1.5rem;
    --t-800: 1.75rem;
    --t-900: 2rem;
    --t-1000: 2.5rem;
    --t-1100: 2.75rem;
    --t-1200: 3rem;
    --t-1300: 3.5rem;
    --t-1400: 4rem;
  }
}

html,
body {
  font-family: 'Poppins', sans-serif;
}

.t-100 {
  font-size: var(--t-100) !important;
}
.t-200 {
  font-size: var(--t-200) !important;
}
.t-300 {
  font-size: var(--t-300) !important;
}
.t-400 {
  font-size: var(--t-400) !important;
}
.t-500 {
  font-size: var(--t-500) !important;
}
.t-600 {
  font-size: var(--t-600) !important;
}
.t-700 {
  font-size: var(--t-700) !important;
}
.t-800 {
  font-size: var(--t-800) !important;
}
.t-900 {
  font-size: var(--t-900) !important;
}
.t-1000 {
  font-size: var(--t-1000) !important;
}
.t-1100 {
  font-size: var(--t-1100) !important;
}
.t-1200 {
  font-size: var(--t-1200) !important;
}
.t-1300 {
  font-size: var(--t-1300) !important;
}
.t-1400 {
  font-size: var(--t-1400) !important;
}
