@import 'theme';
@import 'transitions';
@import 'utilities';
@import 'fonts';

:root {
  --logo-size: 40px;
}

*,
*::before,
*::after {
  margin: 0;
  margin-block: 0;
  margin-inline: 0;
  padding: 0;
  padding-block: 0;
  padding-inline: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: 'Inconsolata', monospace;

  background-color: hsl(var(--color-primary));
}

body.blur {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.awesome-link {
  $length: 15px;
  $width: 2px;
  $bg-image: linear-gradient(currentColor 0%, currentColor 0%);

  padding: 1rem 1.5rem;

  background-image: $bg-image, $bg-image, $bg-image, $bg-image;
  background-size: $length $width, $width $length, $width $length,
    $length $width;
  background-position: 100% 0, 100% 0, 0 100%, 0 100%;
  background-repeat: no-repeat;

  transition: var(--standard-transition);

  &:hover,
  &:focus-within {
    font-weight: bold;

    @media (prefers-reduced-motion: no-preference) {
      background-position: 0 0, 100% 100%, 0 0, 100% 100%;
    }
  }
}

.skip-to-content {
  position: fixed;
  top: -100px;
  left: 10px;
  padding: 1rem 2rem;

  background-color: hsla(var(--color-secondary));
  color: hsla(var(--color-primary));
  font-weight: bold;
  font-size: var(--t-600);
  border: 1px solid hsla(var(--color-secondary));

  z-index: 100;

  transition: var(--standard-transition);

  &:focus-visible {
    top: 10px;
  }
}
