@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-row {
  @include flex-center;
  flex-direction: row;
}

@mixin flex-center-col {
  @include flex-center;
  flex-direction: column;
}
