@import 'mixins';

header > nav {
  padding-block: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  nav {
    a {
      font-size: clamp(var(--t-500), 2vw, var(--t-600));

      color: hsl(var(--major-text-color));

      &:hover,
      &:focus-within {
        font-weight: bold;
        color: hsl(var(--color-secondary));
      }
    }
  }
}

.header-menu__logo {
  color: hsl(var(--color-secondary));
  padding: 0.5rem;
  position: relative;

  cursor: pointer;
  fill: none;

  outline: none;

  &:hover,
  &:focus-within {
    fill: hsla(var(--color-secondary), 10%);
  }

  svg {
    width: var(--logo-size);
    height: var(--logo-size);
  }
}

.header__hamburger-menu {
  position: relative;
}

.header__hamburger-menu__hamburger-btn {
  width: 60px;
  height: 50px;
  margin: 0;
  padding: 10px;
  position: relative;
  right: 0;

  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  color: hsl(var(--color-secondary));

  background: none;
  border: none;
  cursor: pointer;

  z-index: 10;

  .header__hamburger-menu__hamburger-btn-line {
    width: 100%;
    height: 3px;
    background-color: hsl(var(--color-secondary));
  }
  .header__hamburger-menu__hamburger-btn-line:nth-child(1) {
    width: 100%;
  }
  .header__hamburger-menu__hamburger-btn-line:nth-child(2) {
    width: 85%;
  }
  .header__hamburger-menu__hamburger-btn-line:nth-child(3) {
    width: 70%;
  }

  &.active {
    .header__hamburger-menu__hamburger-btn-line {
      width: 85%;

      --hamburger-line-rotation-angle: 405deg;
      --hamburger-line-translate-offset-x: 0.1rem;
    }

    .header__hamburger-menu__hamburger-btn-line:nth-child(1) {
      transform-origin: top left;
      transform: translateX(var(--hamburger-line-translate-offset-x))
        rotateZ(var(--hamburger-line-rotation-angle));
    }
    .header__hamburger-menu__hamburger-btn-line:nth-child(2) {
      background-color: transparent;
    }
    .header__hamburger-menu__hamburger-btn-line:nth-child(3) {
      transform-origin: bottom left;
      //noinspection CssInvalidFunction
      transform: translateX(var(--hamburger-line-translate-offset-x))
        rotateZ(calc(var(--hamburger-line-rotation-angle) * -1));
    }
  }
}

.header-menu__side-bar {
  padding: 50px 10px;
  width: min(75vw, 400px);
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;

  @include flex-center;

  background-color: hsl(var(--color-primary-light));
  box-shadow: -10px 0px 30px -15px hsl(var(--navy-shadow));
  z-index: 9;
  transform: translateX(100vw);
  visibility: visible;

  &.active {
    transform: translateX(0);
  }

  nav {
    @include flex-center-col;
    gap: 4rem;

    ol {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 4rem;

      background: hsl(var(--color-primary-light));

      li {
        list-style: none;
      }
    }
  }
}

.header-menu__backdrop {
  position: fixed;
  inset: 0;

  opacity: 0;
  pointer-events: none;
  background-color: hsla(0, 0, 0, 30%);

  &.active {
    opacity: 1;
    pointer-events: auto;
  }
}

.header__horizontal-menu {
  @include flex-center-row;
  gap: 2rem;

  ol {
    @include flex-center-row;
    gap: 2rem;

    li {
      list-style: none;
    }
  }
}

.header__resume {
  padding: 1rem 3rem;

  border: 1px solid currentColor;
  border-radius: 5px;
  color: hsl(var(--color-secondary));

  &:hover,
  &:focus-within {
    font-weight: bold;
    background-color: hsla(var(--color-secondary), 10%);
  }
}
