:root {
  --fast-transition: all 0.1s;
  --standard-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.fast-transition {
  @media (prefers-reduced-motion: no-preference) {
    transition: var(--fast-transition);
  }
}

.standard-transition {
  @media (prefers-reduced-motion: no-preference) {
    transition: var(--standard-transition);
  }
}
