.focus-dashed-outline {
  outline-offset: 0.5rem;

  &:focus-visible {
    outline: 3px dashed currentColor;
  }
}

a.inline-link {
  position: relative;
  color: hsl(var(--color-secondary));
  white-space: nowrap;

  &::after {
    content: '';

    height: 1px;
    position: absolute;
    left: 0;
    right: 100%;
    bottom: -2px;

    background-color: currentColor;

    transition: var(--standard-transition);
  }

  &:hover,
  &:focus-within {
    @media (prefers-reduced-motion: reduce) {
      text-decoration: underline;
    }

    &::after {
      @media (prefers-reduced-motion: no-preference) {
        right: 0;
      }
    }
  }
}

.side {
  width: 40px;
  position: fixed;
  bottom: 0;

  z-index: 10;
  color: hsla(var(--major-text-color), 100%);

  &.left {
    left: 40px;
    right: auto;
  }

  &.right {
    left: auto;
    right: 40px;
  }

  @media (width <= 1080px) {
    &.left {
      left: 20px;
    }

    &.right {
      right: 20px;
    }
  }

  @media (width <= 768px) {
    display: none;
  }
}

.only-below-768 {
  @media (width >= 768px) {
    display: none !important;
  }
}

.at-and-above768 {
  @media (width < 768px) {
    display: none !important;
  }
}
